<div class="bg-secondary-500 h-[6rem] flex items-center">
  <ul
    class="bg-secondary-200 h-3/5 w-full flex flex-row items-center justify-around text-white font-medium text-sm grow"
  >
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="text-primary-500">INICIO</a>
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500">WORKSHOP</a>
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500"
        >CERTIFICACIONES</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500">TORNEOS</a>
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500">DIGINEWS</a>
    </li>
    <li class="nav-item h-[6rem] relative">
      <img src="../../../../assets/logo.png" alt="" class="h-full" />
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500">TIENDA</a>
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500"
        >CONÓCENOS</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/user/bob" routerLinkActive="text-primary-500">CONTACTO</a>
    </li>
    <li class="nav-item px-3">
      <app-mybtn text="INGRESAR" class="w-full" [outline]="true"/>
    </li>
    <li class="nav-item px-3">
      <app-mybtn text="REGISTRO" class="w-full" />
    </li>
  </ul>
</div>
