<div class="bg-secondary-500 h-[6rem] flex items-center fixed w-full">
  <ul
    class="bg-secondary-200 h-3/5 w-full flex flex-row items-center justify-around text-white font-medium text-sm grow"
  >
    <li class="nav-item" routerLink="/home" routerLinkActive="active-item">
      INICIO
    </li>
    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      WORKSHOP
    </li>
    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      CERTIFICACIONES
    </li>
    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      TORNEOS
    </li>
    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      DIGINEWS
    </li>
    <li class="h-[6rem] relative select-none">
      <img
        src="../../../../assets/logo.png"
        alt=""
        class="h-full hover:scale-95 active:scale-100"
      />
    </li>
    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      TIENDA
    </li>
    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      CONÓCENOS
    </li>

    <li class="nav-item" routerLink="/home2" routerLinkActive="active-item">
      CONTACTO
    </li>
    <li class="nav-item nav-btn px-3">
      <app-mybtn text="INGRESAR" class="w-full" [outline]="true" />
    </li>
    <li class="nav-item nav-btn px-3">
      <app-mybtn text="REGISTRO" class="w-full" />
    </li>
  </ul>
</div>
