<div
  class="bg-secondary-800 min-h-80 relative w-full h-auto grid sm:grid-cols-3 py-20 px-2 sm:px-20"
>
  <img
    class="w-full h-full object-cover opacity-15 mix-blend-luminosity absolute"
    src="../../../../assets/footer-bg.jpg"
    alt=""
  />
  <ul class="footer-list">
    <li class="list-title">Información Relevante</li>
    <li>INICIO</li>
    <li>DIGINEWS</li>
    <li>SE UN INFLUENCER</li>
    <li>FAQs</li>
    <li>REGISTRARSE / INGRESAR</li>
  </ul>
  <ul class="footer-list">
    <li class="list-title">NOSOTROS</li>
    <li>CONÓCENOS</li>
    <li>CONTÁCTANOS</li>
  </ul>
  <ul class="footer-list">
    <li class="list-title">Últimas diginews</li>
  </ul>
</div>
<div class="bg-secondary-800 min-h-20 flex justify-center gap-4 md:gap-2 items-center flex-wrap p-5">
  <div class="social-media">
    <img
      src="../../../../assets/icons/primary/facebook.svg"
      alt=""
      class="fill-primary-500 text-primary-500"
    />
    <div class="">
      <p>TWITCH</p>
      <span>DIGIPARTYLEAGUE</span>
    </div>
  </div>
  <div class="social-media">
    <img
      src="../../../../assets/icons/primary/twitter.svg"
      alt=""
      class="fill-primary-500 text-primary-500"
    />
    <div class="">
      <p>TWITCH</p>
      <span>DIGIPARTYLEAGUE</span>
    </div>
  </div>
  <div class="social-media">
    <img
      src="../../../../assets/icons/primary/instagram.svg"
      alt=""
      class="fill-primary-500 text-primary-500"
    />
    <div class="">
      <p>TWITCH</p>
      <span>DIGIPARTYLEAGUE</span>
    </div>
  </div>
  <div class="social-media">
    <img
      src="../../../../assets/icons/primary/youtube.svg"
      alt=""
      class="fill-primary-500 text-primary-500"
    />
    <div class="">
      <p>TWITCH</p>
      <span>DIGIPARTYLEAGUE</span>
    </div>
  </div>
  <div class="social-media">
    <img
      src="../../../../assets/icons/primary/twitch.svg"
      alt=""
      class="fill-primary-500 text-primary-500"
    />
    <div class="">
      <p>TWITCH</p>
      <span>DIGIPARTYLEAGUE</span>
    </div>
  </div>
</div>
